$ScreenBreakpointXL: 1100px;

$borderRadius: 15px;

$primaryBlue: hsl(246, 80%, 60%);
$primaryLightRedWork: hsl(15, 100%, 70%);
$primarySoftBluePlay: hsl(195, 74%, 62%);
$primaryLightRedStudy: hsl(348, 100%, 68%);
$primaryLimeGreenExercise: hsl(145, 58%, 55%);
$primaryVioletSocial: hsl(264, 64%, 52%);
$primarySoftOrangeSelfCare: hsl(43, 84%, 65%);

$neutralVeryDarkBlue: hsl(226, 43%, 10%);
$neutralDarkBlue: hsl(235, 46%, 20%);
$neutralDesaturatedBlue: hsl(235, 45%, 61%);
$neutralPaleBlue: hsl(236, 100%, 87%);

$FontSizeCardTitlesWorkandPlay: 18px;

// font-sizes: 300-400-500

*,
::before,
::after {
  margin: 0%;
  padding: 0;
}

#root {
  display: flex;
  min-height: 100vh;

  font-family: "Rubik", sans-serif;
  background-color: $neutralVeryDarkBlue;
  .App {
    width: 90%;
    max-width: 500px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @media (min-width: $ScreenBreakpointXL) {
      flex-direction: row;
      align-items: center;
      max-width: 1100px;
      height: 500px;
      margin: auto;
    }
  }
}

.top-card {
  width: 100%;

  height: 200px;
  background: $neutralDarkBlue;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: $borderRadius;
  overflow: hidden;

  .top-card-header {
    padding-inline: 1.4rem;
    height: 66%;
    display: flex;
    background-color: $primaryBlue;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-radius: $borderRadius;
    p {
      color: $neutralPaleBlue;
    }
    h1 {
      font-weight: 300;
      font-size: 1.4rem;
    }
    .comendrun {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 1px solid white;
    }
  }
  .period {
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      padding: 1.5rem 2rem;
      li {
        button {
          outline: none;
          background-color: transparent;
          border: none;
          text-decoration: none;
          color: $neutralPaleBlue;
          font-size: 1.2rem;
          transition: all 0.2s ease-in;
          &:hover {
            cursor: pointer;
            color: white;
            transition: all 0.2s ease-in;
          }
        }
        .clicked {
          color: white;
          transition: color 0.3s ease-in;
        }
      }
    }
  }
  @media screen and (min-width: $ScreenBreakpointXL) {
    .top-card-header {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 2rem;
      justify-content: flex-start;
      transition: opacity 0.3s ease-in;
      &:hover {
        opacity: 0.8;
        transition: opacity 0.3s ease-in;
      }
      .comendrun {
        margin-top: 2rem;
      }
      p {
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }
      h1 {
        font-size: 3rem;
      }
    }

    max-width: 300px;
    height: 100%;
    .period {
      ul {
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        li {
          margin-right: auto;
        }
      }
    }
  }
}

.cards-grid {
  display: grid;
  gap: 2rem;
  @media screen and (min-width: $ScreenBreakpointXL) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    width: 100%;
    height: 100%;
  }
}

.card {
  width: 100%;
  height: 170px;

  display: flex;
  flex-direction: column;
  color: white;
  border-radius: $borderRadius;
  overflow: hidden;

  .card-header {
    height: 25%;
  }

  .body {
    height: 75%;
    border-radius: $borderRadius;
    background: $neutralDarkBlue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-inline: 2rem;
    transition: opacity 0.3s ease-in;
    &:hover {
      opacity: 0.8;
      transition: opacity 0.3s ease-in;
    }
    .flex-col {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .category-placeholder {
      h2 {
        font-size: 1.2rem;
        font-weight: 400;
      }
      .more {
        cursor: pointer;
        padding: 1rem;
        margin: -1rem;
      }
    }
    .hours-placeholder {
      h1 {
        font-weight: 300;
      }
      p {
        color: $neutralPaleBlue;
      }
    }
  }
  @media screen and (min-width: $ScreenBreakpointXL) {
    height: 100%;
    .card-header {
      height: 20%;
    }
    .body {
      height: 80%;
      padding-block: 2rem;
      justify-content: flex-start;
    }
    .hours-placeholder {
      flex-direction: column;
      h1,
      p {
        margin-right: auto;
      }
      h1 {
        font-size: 3rem;
      }
    }
  }
}
